﻿@model Forum.BLL.DTO.UserDTO

@{
    Layout = "~/Views/Moderator/_ModeratorLayout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb my-3">
    <li class="breadcrumb-item active">Moderator</li>
</ol>

<div class="mb-5">
    <dl class="dl-horizontal mb-5">
        <div class="row">
            <dt class="col-sm-3 text-right text-secondary">
                @Html.LabelFor(model => model.Email):
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-3 text-right text-secondary">
                @Html.LabelFor(model => model.UserName):
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-3 text-right text-secondary">
                @Html.LabelFor(model => model.Name):
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-3 text-right text-secondary">
                @Html.LabelFor(model => model.Role):
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.DisplayFor(model => model.Role)
            </dd>
        </div>
    </dl>
</div>