﻿@model Forum.WEB.ViewModels.Moderator_ModerateTopicViewModel

@using Forum.WEB.Helpers

@{
    ViewBag.Title = $"Moderate topic {Model.Topic.Title}";
    Layout = "~/Views/Moderator/_ModeratorLayout.cshtml";
}

<ol class="breadcrumb my-3">
    <li class="breadcrumb-item">@Html.ActionLink("Moderator", "Index", "Moderator")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Moderate Categories", "ModerateCategories", "Moderator")</li>
    <li class="breadcrumb-item">@Html.ActionLink($"{ViewBag.Category.Name}", "ModerateCategory", "Moderator", new { id = Model.Topic.CategoryId }, null)</li>
    <li class="breadcrumb-item active">@Model.Topic.Title</li>
</ol>

<section class="card border-dark mt-3 mb-3">
    <div class="row px-3">
        <div class="card-header col-md-10">
            <h4 class="card-title my-1 text-primary font-weight-normal">@Html.ActionLink(Model.Topic.Title, "Topic", "Home", new { id = Model.Topic.Id }, null)</h4>
        </div>
        <div class="card-header col-md-2">
            @if (Model.Topic.IsHidden)
            {
                @Html.ActionLink("Open Topic", "OpenTopic", "Moderator", new { id = Model.Topic.Id, redirectTo = Request.Url }, new { @class = "btn btn-outline-success" })
            }
            else
            {
                @Html.ActionLink("Hide Topic", "HideTopic", "Moderator", new { id = Model.Topic.Id, redirectTo = Request.Url }, new { @class = "btn btn-outline-warning" })
            }
        </div>
    </div>

    <div class="card-body">
        <h6 class="card-subtitle mb-2">@Html.ActionLink(Model.Topic.AuthorName, "ModerateUserPage", "Moderator", new { userName = Model.Topic.AuthorName }, null)</h6>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Topic.DateOfCreation</h6>
        <p class="card-text">@Model.Topic.Text</p>
    </div>
    <div class="card-body">
        @foreach (var message in Model.Topic.Messages)
        {
            <div class="card">
                @{
                    if (message.ResponseToId != null && message.ResponseTo != null)
                    {
                        <div class="card text-white bg-secondary mt-4 mx-4 p-2" style="zoom:0.8; opacity:0.5;">
                            <div class="text-left mx-2 mt-2">
                                <h6 class="card-subtitle mb-2 font-weight-normal">@Html.ActionLink(message.ResponseTo.AuthorName, "ModerateUserPage", "Moderator", new { userName = message.ResponseTo.AuthorName }, null)</h6>
                                <h6 class="card-subtitle mb-1 font-weight-normal">@message.ResponseTo.DateOfPosting.ToString()</h6>
                                <p class="card-text font-weight-lighter">@message.ResponseTo.Text</p>
                            </div>
                        </div>
                    }

                }
                <div class="card-body row">
                    <div class="text-left col-md-10">
                        <h6 class="card-subtitle mb-3">@Html.ActionLink(message.AuthorName, "ModerateUserPage", "Moderator", new { userName = message.AuthorName }, null)</h6>
                        <h6 class="card-subtitle mb-1 text-muted">@message.DateOfPosting.ToString()</h6>
                        <p class="card-text">@message.Text</p>
                    </div>
                    <div class="text-left col-md-2">
                        @Html.ActionLink("Reply", "Reply", "Topic", new { topicId = Model.Topic.Id, responseToId = message.Id }, new { @class = "btn btn-outline-secondary m-1" })
                        @if (message.IsHidden)
                        {
                            @Html.ActionLink("Open", "OpenMessage", "Moderator", new { id = message.Id, redirectTo = Request.Url }, new { @class = "btn btn-outline-success m-1" })
                        }
                        else
                        {
                            @Html.ActionLink("Hide", "HideMessage", "Moderator", new { id = message.Id, redirectTo = Request.Url }, new { @class = "btn btn-outline-warning m-1" })
                        }
                    </div>
                </div>
            </div>
        }

        @if (Model.PageInfo.TotalItems > Model.PageInfo.PageSize)
        {
            <br />
            <div class="my-3 row ">
                <ul class="pagination col-12 justify-content-center">
                    @Html.PageLinks(Model.PageInfo, x => Url.Action("ModerateTopic", new { id = Model.Topic.Id, page = x }))
                </ul>
            </div>
        }

        <section class="m-5">
            <div class="text-center">
                @Html.ActionLink("To Topic", "Topic", "Home", new { id = Model.Topic.Id }, new { @class = "btn btn-outline-primary"})
            </div>
        </section>
    </div>
</section>