﻿@model Forum.BLL.DTO.CategoryDTO

@{
    ViewBag.Title = $"Moderate Category {Model.Name}";
    Layout = "~/Views/Moderator/_ModeratorLayout.cshtml";
}

<ol class="breadcrumb my-3">
    <li class="breadcrumb-item">@Html.ActionLink("Moderator", "Index", "Moderator")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Moderate Categories", "ModerateCategories", "Moderator")</li>
    <li class="breadcrumb-item active">@Model.Name</li>
</ol>

<section class="my-3">
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="pt-3 pb-1 font-weight-normal">@Model.Name</h3>
                </div>
                <div class="col-md-2 text-left pt-2 pb-2">
                    @Html.ActionLink("Create Topic", "Create", "Topic", new { categoryId = Model.Id }, new { @class = "btn btn-outline-primary" })
                </div>
            </div>
        </div>
        <div class="card-body">
            @foreach (var topic in Model.Topics)
            {
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10 text-left">
                                <h4 class="card-title text-primary font-weight-normal">
                                    @Html.ActionLink(topic.Title, "ModerateTopic", "Moderator", new { id = topic.Id }, null)
                                </h4>
                                <h6 class="card-subtitle m-2">@Html.ActionLink(topic.AuthorName, "ModerateUserPage", "Moderator", new { userName = topic.AuthorName }, null)</h6>
                                <h6 class="card-subtitle m-2">@topic.DateOfCreation.ToString()</h6>
                            </div>
                            <div class="col-md-2 text-left">
                                @if (topic.IsHidden)
                                {
                                    @Html.ActionLink("Open Topic", "OpenTopic", "Moderator", new { id = topic.Id, redirectTo = Request.Url }, new { @class = "btn btn-outline-success" })
                                }
                                else
                                {
                                    @Html.ActionLink("Hide Topic", "HideTopic", "Moderator", new { id = topic.Id, redirectTo = Request.Url }, new { @class = "btn btn-outline-warning" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

