﻿@model Forum.BLL.DTO.UserDTO

@using Forum.BLL.Infrastructure

@{
    ViewBag.Title = "ModerateUserPage";
    Layout = "~/Views/Moderator/_ModeratorLayout.cshtml";
}

<h2 class="card-title my-3 text-primary font-weight-normal">@Model.Name</h2>

<div class="row">
    <div class="col-md-10">
        <dl class="dl-horizontal mb-5">
            <dt class="text-secondary lead">
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd class="text-primary mb-3">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="text-secondary lead">
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd class="text-primary mb-3">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="text-secondary lead">
                @Html.DisplayNameFor(model => model.Role)
            </dt>

            <dd class="text-primary mb-3">
                @if (!String.IsNullOrEmpty(Model.Role))
                {
                    @Html.DisplayFor(model => Model.Role)
                }
                else
                {
                    <span>Deleted</span>
                }
            </dd>

        </dl>
    </div>
    <div class="col-md-2">
        @if (Model.Role != RolesHolder.AdminRole && Model.Role != RolesHolder.ModeratorRole && Model.Role != RolesHolder.DeletedRole && !String.IsNullOrEmpty(Model.Role))
        {
            if (Model.Role == RolesHolder.UserRole)
            {
                @Html.ActionLink("Block user", "BlockUserByModerator", new { userId = Model.Id, redirectTo = Request.Url }, new { @class = "btn btn-outline-warning" })
            }
            else if (Model.Role == RolesHolder.BlockedRole)
            {
                @Html.ActionLink("Unblock user", "UnblockUserByModerator", new { userId = Model.Id, redirectTo = Request.Url }, new { @class = "btn btn-outline-primary" })
            }
        }
    </div>
</div>

