﻿@model Forum.WEB.ViewModels.Moderator_ModerateTodayViewModel

@using Forum.WEB.Helpers

@{
    ViewBag.Title = "ModeretaToday";
    Layout = "~/Views/Moderator/_ModeratorLayout.cshtml";
}

<section class="my-3">
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <div class="row">
                <h4 class="pt-2 ml-3 font-weight-normal">Today</h4>
            </div>
        </div>
        <div class="card-body">
            @foreach (var topic in Model.Topics)
            {
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10 text-left">
                                <h4 class="card-title text-primary font-weight-normal">
                                    @Html.ActionLink(topic.Title, "Topic", "Home", new { id = topic.Id }, null)
                                </h4>
                                <h6 class="card-subtitle m-2">@Html.ActionLink(topic.AuthorName, "UserPage", "Account", new { userName = topic.AuthorName }, null)</h6>
                                <h6 class="card-subtitle m-2">@topic.DateOfCreation.ToString()</h6>
                            </div>
                            <div class="col-md-2 text-left">
                                @if (topic.IsHidden)
                                {
                                    @Html.ActionLink("Open Topic", "OpenTopic", "Moderator", new { id = topic.Id, redirectTo = Request.Url }, new { @class = "btn btn-outline-success" })
                                }
                                else
                                {
                                    @Html.ActionLink("Hide Topic", "HideTopic", "Moderator", new { id = topic.Id, redirectTo = Request.Url }, new { @class = "btn btn-outline-warning" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.PageInfo.TotalItems > Model.PageInfo.PageSize)
        {
            <br />
            <div class="my-3 row ">
                <ul class="pagination col-12 justify-content-center">
                    @Html.PageLinks(Model.PageInfo, x => Url.Action("ModerateToday", new { page = x }))
                </ul>
            </div>
        }
    </div>
</section>

