﻿@model Forum.WEB.ViewModels.Moderator_UsersViewModel

@using Forum.BLL.Infrastructure;

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Moderator/_ModeratorLayout.cshtml";
}

<ol class="breadcrumb my-3">
    <li class="breadcrumb-item">@Html.ActionLink("Moderator", "Index", "Moderator")</li>
    <li class="breadcrumb-item active">Users</li>
</ol>

<h4 class="pt-2 pb-1 font-weight-normal">Users</h4>

<table class="table table-hover" id="users">
    <thead>
        <tr>
            <th scope="col" class="text-left">Email</th>
            <th scope="col" class="text-left">UserName</th>
            <th scope="col" class="text-left">Name</th>
            <th scope="col" class="text-left">Role</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>

    @foreach (var item in Model.Users)
    {
        @Html.HiddenFor(modelItem => item.Id)
        <tr class="table-light">
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (!String.IsNullOrEmpty(item.Role))
                {
                    @Html.DisplayFor(modelItem => item.Role)
                }
                else
                {
                    <span>Deleted</span>
                }
            </td>
            <td class="text-center">
                @if (!String.IsNullOrEmpty(item.Role) && item.Role != RolesHolder.BlockedRole)
                {
                    @Html.ActionLink("Block", "BlockUserByModerator", "Moderator", new { userId = item.Id, redirectTo = Request.Url }, new { @class = "btn btn-warning mx-1" })
                }
                else if (item.Role == RolesHolder.BlockedRole)
                {
                    @Html.ActionLink("Unblock", "UnblockUserByModerator", "Moderator", new { userId = item.Id, redirectTo = Request.Url }, new { @class = "btn btn-primary mx-1" })
                }
            </td>
        </tr>
    }

</table>