﻿@model IEnumerable<Forum.BLL.DTO.CategoryDTO>

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

@{
    ViewBag.Title = "Categories";
}


<ol class="breadcrumb my-3">
    <li class="breadcrumb-item">@Html.ActionLink("Admin", "Index", "Admin")</li>
    <li class="breadcrumb-item active">Categories</li>
</ol>

<div class="row mt-1">
    <div class="col-md-10">
        <h4 class="pt-2 font-weight-normal">Categories</h4>
    </div>

    <div class="col-md-2 pt-2 pb-3">
        @Html.ActionLink("Create New", "CreateCategory", null, new { @class = "btn btn-outline-primary" })
    </div>
</div>

<table class="table table-hover" id="categories">
    <tr>
        <th class="text-secondary font-weight-bold">
            Category Name
        </th>
        <th class="text-secondary font-weight-bold">
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-primary">
                <h5 class=" font-weight-normal">@Html.DisplayFor(modelItem => item.Name)</h5>
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCategory", new { id = item.Id }, new { @class = "btn btn-success m-1" })
                @Html.ActionLink("Details", "DetailsCategory", new { id = item.Id }, new { @class = "btn btn-info m-1" })
                <button class="btn btn-danger js-delete m-1" data-categoryId=@item.Id>Delete</button>
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#categories").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm({
                    message: "Are you sure you what to delete this category?",
                    buttons: {
                        confirm: {
                            label: 'Yes, delete',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-primary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.post('@Url.Action("DeleteCategory", "Admin")', { id: button.attr("data-categoryId") }).done(function () {
                                location.reload();
                            });
                        }
                    }
                });
            })
        })
    </script>
}