﻿@model Forum.BLL.DTO.CategoryDTO

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

@{
    ViewBag.Title = "Create new category";
}

<ol class="breadcrumb my-3">
    <li class="breadcrumb-item">@Html.ActionLink("Admin", "Index", "Admin")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Categories", "Categories", "Admin", null, null)</li>
    <li class="breadcrumb-item active">New category</li>
</ol>

<section class="row">
    <div class="col-md-1"></div>
    <div class="card bg-light mb-3 col-md-10">
        @using (Html.BeginForm("CreateCategory", "Admin", null, FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal card-body">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label my-3 text-primary" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter a category name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="text-center col-md-12">
                        <input type="submit" value="Create" class="btn btn-outline-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-1"></div>
</section>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
