﻿@model Forum.BLL.DTO.CategoryDTO

@{
    ViewBag.Title = "DetailsCategory";
}

<ol class="breadcrumb my-3">
    <li class="breadcrumb-item">@Html.ActionLink("Admin", "Index", "Admin")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Categories", "Categories", "Admin", null, null)</li>
    <li class="breadcrumb-item active">Details for "@Model.Name" category</li>
</ol>

<div class="mb-5">
    <dl class="dl-horizontal mb-5">
        <div class="row">
            <dt class="col-sm-3 text-right text-secondary">
                @Html.LabelFor(model => model.Id):
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.DisplayFor(model => model.Id)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-3 text-right text-secondary">
                @Html.LabelFor(model => model.Name):
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-3 text-right text-secondary">
                Amount of topics:
            </dt>
            <dd class="col-sm-9 text-left">
                @Model.Topics.Count
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-3 text-right text-secondary mt-2">
                To category:
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.ActionLink("To category", "Category", "Home", new { id = Model.Id }, new { @class = "btn btn-outline-primary" })
            </dd>
        </div>
    </dl>
</div>