﻿@model Forum.BLL.DTO.CategoryDTO

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

@{
    ViewBag.Title = "EditCategory";
}

<ol class="breadcrumb my-3">
    <li class="breadcrumb-item">@Html.ActionLink("Admin", "Index", "Admin")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Categories", "Categories", "Admin", null, null)</li>
    <li class="breadcrumb-item active">@Model.Name</li>
</ol>


<section class="row">
    <div class="col-md-1"></div>
    <div class="card bg-light mb-3 col-md-10">

        @using (Html.BeginForm("EditCategory", "Admin", null, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label my-3 text-primary" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", value = Model.Name } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" value="Save" class="btn btn-outline-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-1"></div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
