﻿@model Forum.WEB.ViewModels.Admin_UsersViewModel

@using Forum.BLL.Infrastructure

@{ 
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewBag.Title = "Users";
}

<ol class="breadcrumb my-3">
    <li class="breadcrumb-item">@Html.ActionLink("Admin", "Index", "Admin")</li>
    <li class="breadcrumb-item active">Users</li>
</ol>

<h4 class="pt-2 pb-1 font-weight-normal">Users</h4>

<table class="table table-hover" id="users">
    <thead>
        <tr>
            <th scope="col" class="text-left">Email</th>
            <th scope="col" class="text-left">UserName</th>
            <th scope="col" class="text-left">Name</th>
            <th scope="col" class="text-left">Role</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>

    @foreach (var item in Model.Users)
    {
        @Html.HiddenFor(modelItem => item.Id)
        <tr class="table-light">
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center">
                @if (!String.IsNullOrEmpty(item.Role))
                {
                    @Html.DisplayFor(modelItem => item.Role)
                }
                else
                {
                    <span>Deleted</span>
                }
            </td>
            <td class="text-center">
                @{
                    if (item.Role != RolesHolder.AdminRole)
                    {
                        if (item.Role == RolesHolder.ModeratorRole)
                        {
                            @Html.ActionLink("Assign as user", "AssignAsUser", new { userId = item.Id }, new { @class = "btn btn-primary mx-1" })
                        }
                        else if (item.Role == RolesHolder.UserRole)
                        {
                            @Html.ActionLink("Assign as moderator", "AssignAsModerator", new { userId = item.Id }, new { @class = "btn btn-success mx-1" })
                            @Html.ActionLink("Block", "BlockUser", new { userId = item.Id }, new { @class = "btn btn-warning mx-1" })
                        }
                        else if (item.Role == RolesHolder.BlockedRole)
                        {
                            @Html.ActionLink("Unblock", "UnblockUser", new { userId = item.Id }, new { @class = "btn btn-primary mx-1" })
                            <button class="btn btn-danger js-delete my-2 mx-1" data-userId=@item.Id>Delete</button>
                        }
                        else if (String.IsNullOrEmpty(item.Role))
                        {
                            @Html.ActionLink("Restore", "AssignAsUser", new { userId = item.Id }, new { @class = "btn btn-primary mx-1" })
                        }
                    }
                }
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#users").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm({
                    message: "Are you sure you what to delete this user?",
                    buttons: {
                        confirm: {
                            label: 'Yes, delete',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-primary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.post('@Url.Action("DeleteUser", "Admin")', { id: button.attr("data-userId") }).done(function () {
                                location.reload();
                            });
                        }
                    }
                });
            })
        })
    </script>
}