﻿@model Forum.BLL.DTO.UserDTO

@{
    ViewBag.Title = "UserPage";
}

<h2 class="card-title my-3 text-primary font-weight-normal">@Model.Name</h2>

<div>
    <dl class="dl-horizontal mb-5">
        <dt class="text-secondary lead">
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd class="text-primary mb-3">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="text-secondary lead">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="text-primary mb-3">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="text-secondary lead">
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd class="text-primary mb-3">
            @if (!String.IsNullOrEmpty(Model.Role))
            {
                @Html.DisplayFor(model => Model.Role)
            }
            else
            {
                <span>Deleted</span>
            }
        </dd>

    </dl>
</div>
