﻿@{
    ViewBag.Title = "About";
}

<h4 class="pt-3 pb-1">@ViewBag.Title</h4>

<h6 class="py-2">Author - <span class="text-primary font-weight-bolder">Oleksadnr Kurlan</span></h6>
<h6 class="py-2">Final project - <span class="text-primary font-weight-bolder">Forum</span></h6>

<p>
    Web project topic: <span class="text-primary font-weight-normal">Forum</span>
    <br/>
    Standard operations inherent in any forum - adding topics, messages. Moderation of records. Working
    with forum users.
</p>