﻿@model Forum.BLL.DTO.CategoryDTO

@{
    ViewBag.Title = Model.Name;
}

<ol class="breadcrumb my-3">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="breadcrumb-item active">@Model.Name</li>
</ol>

<section class="my-3">
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="pt-2 pb-1 font-weight-normal">@Model.Name</h4>
                </div>
                <div class="col-md-2 text-left pt-2 pb-1">
                    @Html.ActionLink("Create Topic", "Create", "Topic", new { categoryId = Model.Id }, new { @class = "btn btn-outline-primary" })
                </div>
            </div>
        </div>
        <div class="card-body">
            @foreach (var topic in Model.Topics)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-primary font-weight-normal">
                            @Html.ActionLink(topic.Title, "Topic", "Home", new { id = topic.Id }, null)
                        </h5>
                        <h6 class="card-subtitle m-2">@Html.ActionLink(topic.AuthorName, "UserPage", "Account", new { userName = topic.AuthorName }, null)</h6>
                        <h6 class="card-subtitle m-2">@topic.DateOfCreation.ToString()</h6>
                    </div>
                </div>
            }
        </div>
    </div>
</section>