﻿@{
    ViewBag.Title = "Contact";
}

<h4 class="pt-3 pb-1">@ViewBag.Title</h4>

<address class="my-3">
    Ukraine, Kharkiv - 2020
</address>

<address class="my-3">
    <strong>Author:</strong>   <a href="mailto:1procariot@gmail.com">1procariot@gmail.com</a><br />
    <strong>Сooperation:</strong> <a href="mailto:oleksandr.kurlan@gmail.com">oleksandr.kurlan@gmail.com</a>
</address>