﻿@model IEnumerable<Forum.BLL.DTO.CategoryDTO>

@{
    ViewBag.Title = "Forum";
}

<ol class="breadcrumb my-3">
    <li class="breadcrumb-item active">Home</li>
</ol>

<section class="my-3">
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h4 class="pt-2 pb-1 font-weight-normal">Home</h4>
        </div>
        <div class="card-body">
            @foreach (var category in Model)
            {
                <div class="card">
                    <div class="card-body ">
                        <h4 class="card-title text-primary font-weight-normal">@Html.ActionLink(category.Name, "Category", "Home", new { id = category.Id }, null)</h4>
                    </div>
                </div>
            }
        </div>
    </div>
</section>