﻿@model Forum.WEB.ViewModels.Home_TodayViewModel

@using Forum.WEB.Helpers

@{
    ViewBag.Title = "Today";
}

<section class="my-3">
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <div class="row">
                <h4 class="pt-2 ml-3 font-weight-normal">Today</h4>
            </div>
        </div>
        <div class="card-body">
            @foreach (var topic in Model.Topics)
            {
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-primary font-weight-normal">
                            @Html.ActionLink(topic.Title, "Topic", "Home", new { id = topic.Id }, null)
                        </h4>
                        <h6 class="card-subtitle m-2">@Html.ActionLink(topic.AuthorName, "UserPage", "Account", new { userName = topic.AuthorName }, null)</h6>
                        <h6 class="card-subtitle m-2">@topic.DateOfCreation.ToString()</h6>
                    </div>
                </div>
            }
        </div>
        @if (Model.PageInfo.TotalItems > Model.PageInfo.PageSize)
        {
            <br />
            <div class="my-3 row ">
                <ul class="pagination col-12 justify-content-center">
                    @Html.PageLinks(Model.PageInfo, x => Url.Action("Today", new { page = x }))
                </ul>
            </div>
        }
    </div>
</section>