﻿@model Forum.WEB.ViewModels.Home_TopicViewModel

@using Forum.WEB.Helpers

@{
    ViewBag.Title = Model.Topic.Title;
}

<ol class="breadcrumb my-3">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="breadcrumb-item">@Html.ActionLink($"{ViewBag.Category.Name}", "Category", "Home", new { id = Model.Topic.CategoryId }, null)</li>
    <li class="breadcrumb-item active">@Model.Topic.Title</li>
</ol>

<section class="card border-dark mt-3 mb-3">
    <div class="card-header">
        <h5 class="card-title my-1 text-primary font-weight-normal">@Model.Topic.Title</h5>
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2">@Html.ActionLink(Model.Topic.AuthorName, "UserPage", "Account", new { userName = Model.Topic.AuthorName }, null)</h6>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Topic.DateOfCreation</h6>
        <p class="card-text">@Model.Topic.Text</p>
    </div>
    <div class="card-body">
        @foreach (var message in Model.Topic.Messages)
        {
            <div class="card">
                @{
                    if (message.ResponseToId != null && message.ResponseTo != null)
                    {
                        <div class="card text-white bg-secondary mt-4 mx-4 p-2" style="zoom:0.8; opacity:0.5;">
                            <div class="text-left mx-2 mt-2">
                                <h6 class="card-subtitle mb-2 font-weight-normal">@Html.ActionLink(message.ResponseTo.AuthorName, "UserPage", "Account", new { userName = message.ResponseTo.AuthorName }, null)</h6>
                                <h6 class="card-subtitle mb-1 font-weight-normal">@message.ResponseTo.DateOfPosting.ToString()</h6>
                                <p class="card-text font-weight-lighter">@message.ResponseTo.Text</p>
                            </div>
                        </div>
                    }

                }
                <div class="card-body row">
                    <div class="text-left col-md-10">
                        <h6 class="card-subtitle mb-3">@Html.ActionLink(message.AuthorName, "UserPage", "Account", new { userName = message.AuthorName }, null)</h6>
                        <h6 class="card-subtitle mb-1 text-muted">@message.DateOfPosting.ToString()</h6>
                        <p class="card-text">@message.Text</p>
                    </div>
                    <div class="text-right col-md-2">
                        @Html.ActionLink("Reply", "Reply", "Topic", new { topicId = Model.Topic.Id, responseToId = message.Id }, new { @class = "btn btn-outline-secondary my-3" })
                    </div>
                </div>
            </div>
        }

        @if (Model.PageInfo.TotalItems > Model.PageInfo.PageSize)
        {
            <br />
            <div class="my-3 row ">
                <ul class="pagination col-12 justify-content-center">
                    @Html.PageLinks(Model.PageInfo, x => Url.Action("Topic", new { id = Model.Topic.Id, page = x }))
                </ul>
            </div>
        }
    </div>
    <section class="card-body">
        @using (Html.BeginForm("LeaveMessage", "Home", new { TopicId = Model.Topic.Id }, FormMethod.Post, new { @class = "row" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-md-1"></div>
            <div class="form-horizontal col-md-10">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.NewMessage.Text, htmlAttributes: new { @class = "control-label text-primary" })
                    @Html.EditorFor(model => model.NewMessage.Text, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter message", rows = "5" } })
                    @Html.ValidationMessageFor(model => model.NewMessage.Text, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="text-center col-md-12">
                        <input type="submit" value="Send" class="btn btn-outline-primary" />
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        }
    </section>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
