﻿@model Forum.BLL.DTO.TopicDTO

@{
    ViewBag.Title = "New Topic";
}

<ol class="breadcrumb my-3">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="breadcrumb-item">@Html.ActionLink($"{ViewBag.Category.Name}", "Category", "Home", new { id = ViewBag.Category.Id, categoryName = ViewBag.Category.Name }, null)</li>
    <li class="breadcrumb-item active">New Topic</li>
</ol>

<section class="card border-dark py-3 my-3">
    @using (Html.BeginForm("Create", "Topic", new { categoryId = ViewBag.Category.Id}, FormMethod.Post, new { @class = "row" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-1"></div>
        <div class="form-horizontal col-md-10">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label text-primary" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter title" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label text-primary" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter text", rows = "7" } })
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="text-center col-md-12">
                    <input type="submit" value="Create" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>

    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
