﻿@model Forum.WEB.ViewModels.Topic_ReplyViewModel

@{
    ViewBag.Title = "Reply";
}

<ol class="breadcrumb my-3">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="breadcrumb-item">@Html.ActionLink($"{ViewBag.Category.Name}", "Category", "Home", new { id = ViewBag.Category.Id, categoryName = ViewBag.Category.Name }, null)</li>
    <li class="breadcrumb-item">@Html.ActionLink($"{Model.Topic.Title}", "Topic", "Home", new { id = Model.Topic.Id }, null)</li>
    <li class="breadcrumb-item active">Reply</li>
</ol>

<div class="row">
    <div class="col-md-2"></div>
    <section class="card bg-light mt-3 col-md-8">
        <div class="card-body text-left">
            <h6 class="card-subtitle mb-2">@Model.TargetMessage.AuthorName</h6>
            <h6 class="card-subtitle mb-2 text-muted">@Model.TargetMessage.DateOfPosting.ToString()</h6>
            <p class="card-text">@Model.TargetMessage.Text</p>
        </div>
    </section>
    <div class="col-md-2"></div>

    <div class="col-md-2"></div>
    <section class="card my-3 py-3 col-md-8">
        @using (Html.BeginForm("Reply", "Topic", new { responseToId = Model.TargetMessage.Id, topicId = Model.Topic.Id }, FormMethod.Post, new { @class = "row" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-1"></div>
            <div class="form-horizontal  col-md-10">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.message.Text, htmlAttributes: new { @class = "control-label text-primary" })
                    @Html.EditorFor(model => model.message.Text, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter message", rows = "5" } })
                    @Html.ValidationMessageFor(model => model.message.Text, "", new { @class = "text-danger" })
                </div>


                <div class="form-group">
                    <div class="text-center col-md-12">
                        <input type="submit" value="Reply" class="btn btn-outline-primary" />
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        }
    </section>
    <div class="col-md-2"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
