﻿@model Forum.WEB.Models.ChangeNameModel

@{
    ViewBag.Title = "Change Name";
}

@using (Html.BeginForm("ChangeName", "Manage", FormMethod.Post, new { @class = "form-horizontal" }))
{

    @Html.AntiForgeryToken()

    <h4 class="pt-3 pb-1 font-weight-normal">Change Name Form</h4>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group row my-3">
        <div class="col-md-3 text-right pt-2 font-weight-bold">
            @Html.LabelFor(m => m.OldName, new { @class = "control-label" }):
        </div>
        <div class="col-md-6">
            @Model.OldName
        </div>
    </div>
    <div class="form-group row my-3">
        <div class="col-md-3 text-right pt-2 font-weight-bold">
            @Html.LabelFor(m => m.NewName, new { @class = "control-label" }):
        </div>
        <div class="col-md-6">
            @Html.EditorFor(m => m.NewName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row my-3">
        <div class="col-md-3 text-right pt-2 font-weight-bold">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" }):
        </div>
        <div class="col-md-6">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group  my-3">
        <div class="col-md-12 text-center">
            <input type="submit" value="Change name" class="btn btn-outline-primary" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}