﻿@model Forum.WEB.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change password";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal" }))
{

    @Html.AntiForgeryToken()

    <h4 class="pt-3 pb-1 font-weight-normal">Change Password Form</h4>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group row my-3">
        <div class="col-md-3 text-right pt-2 font-weight-bold">
            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" }):
        </div>
        <div class="col-md-6">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row my-3">
        <div class="col-md-3 text-right pt-2 font-weight-bold">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" }):
        </div>
        <div class="col-md-6">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row my-3">
        <div class="col-md-3 text-right pt-2 font-weight-bold">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" }):
        </div>
        <div class="col-md-6">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group  my-3">
        <div class="col-md-12 text-center">
            <input type="submit" value="Change password" class="btn btn-outline-primary" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

