﻿@model Forum.WEB.Models.UserModel

@{
    ViewBag.Title = Model.Name;
}

<div class="my-5">
    <dl class="dl-horizontal mb-5">
        <div class="row">
            <dt class="col-sm-3 text-right text-secondary">
                @Html.LabelFor(model => model.Email):
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-3 text-right text-secondary">
                @Html.LabelFor(model => model.UserName):
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-3 text-right text-secondary">
                @Html.LabelFor(model => model.Name):
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-3 text-right text-secondary">
                @Html.LabelFor(model => model.Role):
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.DisplayFor(model => model.Role)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-3 text-right text-secondary">
                Change password:
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.ActionLink("Change password", "ChangePassword", null, new { @class = "btn btn-outline-primary" })
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-3 text-right text-secondary">
                Change name:
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.ActionLink("Change name", "ChangeName", null, new { @class = "btn btn-outline-primary" })
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-3 text-right text-secondary">
                My messages:
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.ActionLink("My messages", "UserMessages", null, new { @class = "btn btn-outline-primary" })
            </dd>
        </div>
    </dl>
</div>
