﻿@model Forum.WEB.ViewModels.Manage_UserMessagesViewModel

@using Forum.WEB.Helpers

@{
    ViewBag.Title = "UserMessages";
}

<section class="card border-dark mt-3 mb-3">
    <div class="card-header">
        <h5 class="card-title my-1 text-primary font-weight-normal">My messages</h5>
    </div>
    <div class="card-body" id="messages">
        @foreach (var message in Model.Messages)
        {
            <div class="card">
                @{
                    if (message.ResponseToId != null && message.ResponseTo != null)
                    {
                        <div class="card text-white bg-secondary mt-4 mx-4 p-2" style="zoom:0.8; opacity:0.5;">
                            <div class="text-left mx-2 mt-2">
                                <h6 class="card-subtitle mb-2 font-weight-normal">@Html.ActionLink(message.ResponseTo.AuthorName, "UserPage", "Account", new { userName = message.ResponseTo.AuthorName }, null)</h6>
                                <h6 class="card-subtitle mb-1 font-weight-normal">@message.ResponseTo.DateOfPosting.ToString()</h6>
                                <p class="card-text font-weight-lighter">@message.ResponseTo.Text</p>
                            </div>
                        </div>
                    }

                }
                <div class="card-body row">
                    <div class="text-left col-md-10">
                        <h6 class="card-subtitle mb-3">@Html.ActionLink(message.AuthorName, "UserPage", "Account", new { userName = message.AuthorName }, null)</h6>
                        <h6 class="card-subtitle mb-1 text-muted">@message.DateOfPosting.ToString()</h6>
                        <p class="card-text">@message.Text</p>
                    </div>
                    <div class="col-md-2 text-right">
                        @Html.ActionLink("To topic", "Topic", "Home", new { id = message.TopicId }, new { @class = "btn btn-outline-info m-1" })
                        <button class="btn btn-outline-danger js-delete m-1" data-messageId=@message.Id>Delete</button>
                    </div>
                </div>
            </div>
        }


        @if (Model.PageInfo.TotalItems > Model.PageInfo.PageSize)
        {
            <br />
            <div class="my-3 row ">
                <ul class="pagination col-12 justify-content-center">
                    @Html.PageLinks(Model.PageInfo, x => Url.Action("UserMessages", new { page = x }))
                </ul>
            </div>
        }
    </div>
</section>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#messages").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm({
                    message: "Are you sure you what to delete this message?",
                    buttons: {
                        confirm: {
                            label: 'Yes, delete',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-primary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.post('@Url.Action("DeleteMessage", "Manage")', { id: button.attr("data-messageId") }).done(function () {
                                location.reload();
                            });
                        }
                    }
                });
            })
        })
    </script>
}
