﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body @*style="zoom:1.1"*@>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-lg">
            @Html.ActionLink("Forum", "Index", "Home", null, new { @class = "navbar-brand", name="Forum" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Today", "Today", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contacts", "Contact", "Home", null, new { @class = "nav-link" })
                    </li>
                </ul>
                @Html.Partial("_NavLoginPartial")
            </div>
        </div>
    </nav>
    <main class="container-lg body-content">
        @RenderBody()
    </main>

    <footer class="table-secondary">
        <div class="container">
            <div class="row pt-3">
                <div class="col-md-4">

                </div>
                <div class="text-center text-black-50 py-2 col-md-4">
                    © 2020 Copyright:&nbsp;
                    <a class="text-dark" href="mailto:1procariot@gmail.com">Oleksandr Kurlan</a>
                </div>
                <div class="text-right col-md-4 pb-3">
                    @Html.ActionLink("Rules", "Rules", "Home", null, new { @class = "btn btn-outline-secondary" })
                    <a href="#Forum" class="btn btn-outline-secondary">Up</a>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
