﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav">
        <li class="nav-item">
            @Html.ActionLink(User.Identity.Name, "Index", "Manage", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>
    </ul> 
    }
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            @Html.ActionLink("Sign Up", "Register", "Account", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Log In", "Login", "Account", null, new { @class = "nav-link" })
        </li>
    </ul>
}

